:root{
  /* Primary */
  --Green200: hsl(148, 38%, 91%);
  --Green600: hsl(169, 82%, 27%);
  --Red:hsl(0, 66%, 54%);

  --White: hsl(0, 0%, 100%);
  --Grey500: hsl(186, 15%, 59%);
  --Grey900: hsl(187, 24%, 22%);
}

body{
  padding: 0;
  margin: 0;
  background-color: var(--Green200);
  font-family: Karla;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 98vh;
}

.contact-form-card{
  display: flex;
  flex-direction: column;
  border: 1px solid;
  background-color: var(--White);
  height: 500px;
  width: 500px;
  border-radius: 10px;
  padding: 20px;
}

.contact-us-header{
  padding: 0;
  margin: 0;
  color: var(--Grey900);
}

.name-section{
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 15px;
}

.name-section p{
  /* border: 1px solid red; */
  margin: 0;
}

.first-name-section, .last-name-section{
  border: 1px solid red;
}

