:root{
  /* Primary */
  --Green200: hsl(148, 38%, 91%);
  --Green600: hsl(169, 82%, 27%);
  --Red:hsl(0, 66%, 54%);

  --White: hsl(0, 0%, 100%);
  --Grey500: hsl(186, 15%, 59%);
  --Grey900: hsl(187, 24%, 22%);
}

body{
  padding: 0;
  margin: 0;
  background-color: var(--Green200);
  font-family: Karla;
  font-size: 11px;
  font-weight: 400;
  color: var(--Grey900);
}

span {
  font-size: 12px;
}


.container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 98vh;
}

.contact-form-card{
  display: flex;
  flex-direction: column;
  border: 1px var(--Grey500);
  background-color: var(--White);
  height: auto;
  width: 430px;
  border-radius: 10px;
  padding: 20px;
}

.contact-us-header{
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  color: var(--Grey900);
}

.name-section{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 15px;
}

.name-section p{
  margin: 5px 0;
  padding-bottom: 5px;
}

.name-section input{
 border: 1px solid var(--Grey500);
 border-radius: 5px;
 padding: 10px 13px;
 /* width: 1px; */
 outline: none;
}

.first-name-section, .last-name-section{
  width: 100%;
}

.last-name-section input{
  width: 183px;
}

.name-section input:focus{
  border-color: var(--Green600);
}

.name-section input:hover{
  cursor: pointer;
  border-color: var(--Green600);
  transition: 0.3s;
}

.email-section{
  padding-top: 5px;
  display: flex;
  flex-direction: column;
}

.email-section p{
  margin:0;
  padding: 7px 0;
}

.email-section input{
  padding: 10px 13px;
  border-radius: 5px;
  border: 1px solid var(--Grey500);
  outline: none;
}

.email-section input:focus{
  border-color: var(--Green600);
}


.email-section input:hover{
  cursor: pointer;
  border-color: var(--Green600);
  transition: 0.3s;
}

.query-type-section{
  padding-top: 1px;
  display: flex;
  flex-direction: column;
}

.query-type-section p{
  padding: 9px 0;
  margin: 0;
}

.query-type-section .radio-query-type-section{
  display: grid;
  grid-template-columns: 1fr 1fr;

}

.general-radio-query-type-section ,.support-radio-query-type-section{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 35px;
  border-radius: 5px;
  border: 1px solid var(--Grey500);
  /* padding: 0 5px; */
  cursor: pointer;
}

.general-radio-query-type-section {
  width: 195px;
}

.query-type-radio-clicked{
  border: 1px solid var(--Green600);
  background-color: hsla(169, 82%, 27%, 0.1);;
}


.radio-query-type-section input {
  margin: 0 10px 0 15px;
}



.message-section{
  height: 120px;
}

.message-section p{
 padding: 0;
 margin: 0;
 padding: 6px 0;
}

.message-section textarea{
 width: 100%;
 height: 60%;
 border-radius: 5px;
 border: 1px solid var(--Grey500);
 font-size: 13px;
 resize: none; /* Disable resizing */
 box-sizing: border-box; 
 outline: none;
 padding: 5px 10px;
}

.consent-section{
  display: flex;
  flex-direction: column;
  padding: 13px 0 13px 0;

}

.consent-section p{
  padding: 0;
  margin: 5px 0 0 0;
}

.consent-section input{
  margin: 0 8px 0 0;
  cursor: pointer;
  
}

.consent-section label{
  cursor: pointer;
}

.consent-section div{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding: 0;
}

.submit-btn-section{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.submit-btn-section button{
  width: 100%;
  height: 30px;
  border: 1px var(--Green600);
  color: var(--White);
  background-color: var(--Green600);
  border-radius: 5px;
  font-size: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.submit-btn-section button:hover{
  background-color: var(--Grey900);

}

.require-field-message{
  display: none;
}

.alert-require-field-message{
  display: block;
  color: var(--Red);
}



